@charset "UTF-8";

$blue:    #57a6eb !default;  // primary
$indigo:  #354052 !default;
$purple:  #ae69af !default;
$pink:    #ff647e !default;
$red:     #dc3545 !default;  // danger
$orange:  #fd7e14 !default;
$yellow:  #ffb22b !default;  // warning
$green:   #5cb04b !default;  // success
$teal:    #20c997 !default;
$cyan:    #1ec1d5 !default;  // info
// $teal: #009688;
// $brown: #795548;
// $secondary:     $gray-600 !default;

$font-size-base:              0.94rem;
$font-size-sm:                14px;
$font-size-xs:                12px;

$font-family-sans-serif:      -apple-system, "Segoe UI", "Noto Sans CJK KR Regular", Roboto, Arial, "Noto Sans", sans-serif, "Noto Color Emoji" !default;

$body-bg: #edf2f6;

@import "./bootstrap/scss/bootstrap";

/* -----------------------------------
 * layout
 * ----------------------------------- */
html,body { height: 100% }
body      { margin: 0; padding: 0;
            font-family: "SpoqaHanSans", sans-serif; font-size: 15px; color: #232323;
            letter-spacing: -0.7px; line-height: 1.45; word-break: break-all;
          }

#root           { position: relative; min-height: 100vh}
#page_wrap      { margin-left: 0; min-height: 100vh}
#nav            { position: fixed; margin-left: -220px; width: 230px; height: 100%; 
                  background: #354052; color: $gray-500;
                  transition: .2s ease all;
                }
#user           { height: 180px; text-align: center; border-bottom: 2px solid #303b4d;}
#top_nav        { height: 65px; background-color: #fff; border-bottom: 1px solid $gray-200;}
#title          { padding: 30px 55px; height: 112px; background-color: #fff; border-bottom: 1px solid $gray-300;}
#main           { display: flex;}
#content        { flex: 1 0 auto; padding: 30px 55px; }
#timeline       { padding: 25px; width: 300px; background: $gray-300; overflow-y: auto}
#footer         { padding-top: 8px; padding-bottom: 8px; border-top: 1px solid $gray-200; background: $white}

@media screen and (min-width: 768px) {
    #page_wrap  { margin-left: 230px}
    #nav        { position: fixed; margin-left: 0; width: 230px; background: #354052; }
    #main       { min-height: calc( 100vh - 177px)}
}


/* -----------------------------------
 * base style
 * 기본 스타일 정의
 * ----------------------------------- */
.font-size-sm { font-size: $font-size-sm; }
.font-size-xs { font-size: $font-size-xs; }

.card {background: white;}
.content { padding: 40px}
.clearfix:after,
.clearfix:before {content: "";display: table;clear: both;}


.position-rel {position: relative;}
.padding-l-xs.padding-l-xs {padding-left: 8px;}
.padding-r-xs.padding-r-xs {padding-right: 8px;}
.margin-l-xs.margin-l-xs {margin-left: 8px;}
.margin-r-xs.margin-r-xs {margin-right: 8px;}
.margin-t-xs.margin-t-xs {margin-top: 8px;}
.margin-b-xs.margin-b-xs {margin-bottom: 8px;}

.bb-none {border-bottom: none !important;
}
@media screen and (min-width: 768px) {
    .p-mt-0 {margin-top: 0 !important;}
}


/* -----------------------------------
 * nav
 * 왼쪽메뉴
 * ----------------------------------- */
.avatar { display: inline-block; margin-bottom: 5px; width: 75px; height: 74px; background-color: $gray-300; border-radius: 100%}
.name   { font-size: $font-size-sm; color: $gray-200; letter-spacing: 0}
#user .avatar { margin-top: 44px}



/* -----------------------------------
 * top nav
 * 탑메뉴
 * ----------------------------------- */
#top_nav ul { display: flex; height: 100%}
#top_nav li { flex: 0 1 auto;}
#top_nav li:first-child { margin-right: auto}
#top_nav li a { display: block; text-align: center}
#top_nav li a:hover { color: $gray-600}
.burger { padding-top: 24px; width: 67px; height: 100%; border-right: 1px solid $gray-200}
.burger > span { display: block; margin-left: auto; margin-right: auto; width: 20px; height: 3px; background-color: $gray-600; border-radius: 3px}
.burger > span + span { margin-top: 3px }
.alarm,
.logout { width: 68px; height: 100%; font-size: 20px; line-height: 62px; color: $gray-500; border-left: 1px solid $gray-200}



/* -----------------------------------
 * title
 * 타이틀영역
 * ----------------------------------- */
#title h2 { color: $gray-700 }
h3, h4{ color: $gray-700}


/* -----------------------------------
 * beep animation
 * ----------------------------------- */
@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.beep { position: relative; }
.beep:after {
    content: '';
    position: absolute;
    top: 6px;
    right: -4px;
    width: 7px;
    height: 7px;
    background-color: $pink;
    border-radius: 50%;
    -webkit-animation: pulse 1s ease-out infinite;
    animation: pulse 1s ease-out infinite;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}



/* -----------------------------------
 * timeline
 * ----------------------------------- */
.timeline:before { box-sizing: border-box; }

/* Main logic */
.timeline                   { position: relative; margin: 0 auto; margin-left: 4px; overflow-y: hidden;}
.timeline::before           { content: ""; position: absolute; top: 0; left: 8px; margin-left: -1px; width: 3px; height: 100%; background-color: $white;}
.timeline *                 { box-sizing: border-box; }
.timeline *:before          { box-sizing: border-box; }
.timeline .timeline-block   { position: relative; margin:0 0 24px}
.timeline .timeline-icon    { position: absolute; left: 3px; margin-top: 13px; margin-left: -7px; padding-top: 8px;
                              width: 24px; height: 24px;
                              font-size: 17px; line-height: 18px; text-align: center; color: #fff;
                              background-color: $gray-500; border: 4px solid $gray-300; border-radius: 100%;
                            }
.timeline
.timeline-icon:after        { content:""; position: absolute; display: block; top: 3px; left: 3px; width: 10px; height: 10px;
                              background: $gray-300; border-radius: 10px;
                            }
.timeline
.timeline-content           { position: relative; margin-left: 35px; padding: 0; line-height: 20px; min-height: 64px; }
.timeline .timeline-date    { position: absolute; top: 5px;left: 115%;  width: auto; font-size: 25px;color:#37528C }



.timeline .datetime         { margin-bottom: 6px}
.timeline .category         { padding: 14px 0 15px; min-height: 50px; font-size: 17px; font-weight: 600; color: inherit;}
.timeline .desc             { padding: 0}
.timeline .badge-status     { position: absolute; top: 26px; right: 30px}
.timeline .desc b{ display: inline-block; margin-right: 7px; width: 16px; color: #acb0b5; text-align: center; vertical-align: middle}
.timeline .message{ font-size: 14px}
.timeline p.message:not(:last-child){ margin-top: 0; margin-bottom: 4px;}
.timeline .timeline-block:not(.full-label) .timeline-content{ cursor: pointer;}
.timeline .btn-detail{ position: relative; margin: 18px -26px -16px; padding: 4px; font-size: 13px; color: #666;
    text-align: center; background-color: #eeeeee; border-radius: 2px; z-index: 10; cursor: pointer; transition: 0.3s cubic-bezier(0.68, -0.55, 0.32, 1.87) all}
.timeline .btn-detail:hover{ background-color: #e4e4e4}

@each $color, $value in $colors {
    .timeline .content-#{$color} .category{
    color: $value;
    }
    .timeline .content-#{$color} .timeline-icon{
    background-color: $value;
    }
}

.timeline .request .category{padding-bottom: 0;}
.timeline .request .desc{ padding-top: 9px; color: #fff}
.timeline .request .desc > p{ margin-bottom: 8px}
.timeline .request .desc svg{ color: #e7e7e7}
.timeline .request .btn-detail{ background: rgba(255, 255, 255, 0.69)}



/* -----------------------------------
 * card
 * ----------------------------------- */
.card_header{ background-color: #6d7c93}